<% if (post.comments) { %>
<span class="comment-counter">
    <i class="fa fa-comments-o"></i>
    <% if (theme.comment.disqus) { %>
        <span class="disqus-comment-count" data-disqus-url="<%= post.permalink %>">0</span>
    <% } else if (theme.comment.duoshuo) { %>
        <span class="ds-thread-count" data-thread-key="<%= post.path %>">0</span>
    <% } %>
</span>
<% } %>