<% if (typeof(script) !== 'undefined' && script
   && typeof(page.comment.facebook.language) !== 'undefined'  && page.comment.facebook.language ) { %>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/<%= page.comment.facebook.language %>/sdk.js#xfbml=1&version=v2.8";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<% } else if ( typeof(page.comment.facebook.comment_count) !== 'undefined' && page.comment.facebook.comment_count
          &&   typeof(page.comment.facebook.comment_colorscheme) !== 'undefined' && page.comment.facebook.comment_colorscheme ) { %>
  <!-- Facebook Comments Block -->
  <div class="fb-comments"
    data-href="<%= page.permalink %>"
    data-num-posts="<%= page.comment.facebook.comment_count %>"
    data-width="100%"
    data-colorscheme="<%= page.comment.facebook.comment_colorscheme %>">
  </div>
<% } %>
