# Logo Url
# Please enter the absolute path to your logo file
# or remove the following line with replacing logo-header.png with your own logo
logo: css/images/logo-header.png 

# Header
menu:
  Home: /
  # Delete this row if you don't want categories in your header nav bar
  # Categories:

  About: /about/

# Article list grouped by year 
groupByYear: true

# Content
fancybox: true

# Thumbnail
thumbnail: true

# Scroll Loading
scrollLoading: true

# Sidebar
sidebar: right
social_links:
  github: https://github.com/tim-hub/hexo-theme-hueman-folk
  rss: atom.xml
  #weibo: 
  # twitter: 
  # facebook:
  # google_plus:
 
widgets:
- category
- tagcloud
- archive
# - tag
- links
- recent_posts


# Links 
links:
	Friendly Links: /friendly-links

# Don't Use Google APIs if you are in google-blocked areas
use_google_apis: false

# use disqus comments
# disqus_shortname: 

# Miscellaneous
google_analytics:
favicon: /favicon.png
fb_admins:
fb_app_id:
