<% if (theme.comment.valine.on === true && theme.comment.valine.visitor) { %>
   <span id="<%- url_for(page.path) %>" class="leancloud-visitors" data-flag-title="<%= page.title %>">
   <i class="fa fa-eye"></i>
   <span class="post-meta-item-text"><%= __('counter.views') + (':')%> </span>
   <i class="leancloud-visitors-count">1000000</i>
   </span>
<% } %>
