<a href="<%- url_for((post.link?post.link:post.path)) %>" class="thumbnail">
  <% if(theme.thumbnail == true) {
    var img=/\<img\s.*?\s?src\s*=\s*['|"]?([^\s'"]+).*?\>/ig;
    var result = post.content.match(img);
    var s = "";
    result = img.exec(post.content);
    if(result != null) {
      for(var i = result.length -1; i; --i){
          s += result[i]+"\n";
      }
    }
    if(s.length > 0){ %>
    <img src="<%= s %>" alt="<%= post.title %>" class="thumbnail-image" />
  <% } else { %>
    <span class="thumbnail-image thumbnail-none"></span>
  <% } %>
<% } else { %>
  <span class="thumbnail-image thumbnail-none"></span>
<% } %>
</a>