.hero
    background: $header-background
    color: $header-text-color
    text-shadow: $header-text-shadow
    padding-bottom: $navbar-height

.hero-body
    font-size: 16px

    .container
        display: flex
        flex-direction: row
        align-items: center

    .title
        margin: 0

    .subtitle
        margin-left: 20px
        font-size: 1em
        font-style: italic
        color: inherit

    .title:not(.is-spaced) + .subtitle
        margin-top: 0

    .logo
        img
            height: $logo-height