/* ---------------------------------
 *            Page Header
 * --------------------------------- */
header.hero
    background: $header-background
    color: $header-color
    text-shadow: $header-text-shadow
    padding-bottom: $navbar-height

    .hero-body
        .container
            display: flex
            flex-direction: row
            align-items: center

        .title
            margin: 0

        .subtitle
            margin-left: 20px
            color: inherit
            font-size: 1em
            font-style: italic

        .title:not(.is-spaced) + .subtitle
            margin-top: 0

        .logo
            img
                max-height: $logo-height
