/* ---------------------------------
 *           Top Navigation
 * --------------------------------- */
.navbar-main
    .navbar-menu
        padding: 0 15px
        border-radius: $radius $radius 0 0
        background: $navbar-background-color
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, .05), $card-shadow

    .container
        .navbar-menu
            margin: 0
