<% if (site.categories.length){ %>
  <div class="widget-wrap widget-list">
    <h3 class="widget-title"><%= __('sidebar.categories') %></h3>
    <div class="widget">
      <%- list_categories() %>
    </div>
  </div>
<% } %>
