<% if (site.tags.length){ %>
  <div class="widget-wrap widget-list">
    <h3 class="widget-title"><%= __('sidebar.tags') %></h3>
    <div class="widget">
      <%- list_tags() %>
    </div>
  </div>
<% } %>
