<% if (site.tags.length){ %>
  <div class="widget-wrap widget-float">
    <h3 class="widget-title"><%= __('sidebar.tag_cloud') %></h3>
    <div class="widget tagcloud">
      <%- tagcloud() %>
    </div>
  </div>
<% } %>
