@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5)
  .article-entry .img-wrap
    &:before
      background: url(preloader-2x) center center no-repeat, rgba(0,0,0,0.9)
      background-size: 24px 24px