// Config
support-for-ie = false
vendor-prefixes = webkit moz ms official

// Colors
color-default = #555
color-link = #3b8dbd
color-grey = #aaa
color-header-background = #26272b
color-main-background = #fff
color-background = #eaeaea
color-mobile-nav-background = #191919
color-twitter = #00aced
color-facebook = #3b5998
color-pinterest = #cb2027
color-google = #dd4b39
color-border = #ddd
color-border-light = #eee
color-nav-foreground = rgba(255,255,255,0.7)
color-nav-background = #33363b
color-nav-hover-background = rgba(0,0,0,0.1)
color-sidebar-background = #f0f0f0
color-sidebar-text = #777
color-sidebar-text-dark = #444
color-footer-background = #33363b

// Fonts
font-sans = "Titillium Web", "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", sans-serif
font-serif = Georgia, "Times New Roman", serif
font-mono = "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace
font-icon = FontAwesome
font-icon-path = "fonts/fontawesome-webfont"
font-icon-version = "4.0.3"
font-icon-size = 24px
font-icon-size-large = 24px
font-size = 14px
font-size-article = 18px
line-height = 1.6em
line-height-title = 1.3em

// Header
logo-img = "images/logo-header.png"
logo-width = 165px
logo-height = 60px

// Sidebar
sidebar = hexo-config("sidebar")
sidebar-width = 340px
sidebar-toggle-width = 50px

// Layout
container-padding = 20px
container-inner-min-width = 320px
container-inner-max-width = 1120px
article-padding = 20px
nav-height = 60px
main-nav-child-width = 180px
mobile-nav-width = 280px

thumbnail-default = "images/thumb-default.png"
thumbnail-default-small = "images/thumb-default-small.png"
preloader = "images/preloader.gif"
preloader-2x = "images/preloader@2x.gif"
