<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="container">
    <div class="container-inner">
      <a id="back-to-top" href="javascript:;"><i class="icon fa fa-angle-up"></i></a>
      <div class="credit">

        <!--<h1 class="logo-wrap">
          <a href="<%- url_for() %>" class="logo"></a>
        </h1>-->  <!--//enable or remove the logo on foot.-->

        <p>&copy;  <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %> . <a href="/contact" target="_blank">Contact</a></p>
        <p>Powered by Hexo.  | Theme folked by <a href="//github.com/tim-hub" target="blank">Tim</a> from Hueman.</p>
		<script type="text/javascript" src="https://raw.githubusercontent.com/tim-hub/random-verse/master/randomVerse.js"></script>
      </div>

    </div>
	
  </div>
</footer>
