<footer id="footer">
    <div class="container">
        <div class="container-inner">
            <a id="back-to-top" href="javascript:;"><i class="icon fa fa-angle-up"></i></a>
            <div class="credit">
                <!--<h1 class="logo-wrap">
                    <a href="<%- url_for() %>" class="logo"></a>
                </h1>-->
                <p>&copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %> . <a href="https://tim.bai.uno/contact"> Contact </a></p>
                <p>Powered by <a href="//hexo.io/" target="_blank">Hexo</a>. Theme  <a href="https://github.com/tim-hub/hexo-theme-hueman-tims-folk" target="_blank">folked by Tim</a> from <a href="https://github.com/ppoffice/hexo-theme-hueman" target="_blank">PPOffice</a></p>
<script type="text/javascript" src="https://raw.githubusercontent.com/tim-hub/random-verse/master/randomVerse.js"></script>  |from <a href ="https://github.com/tim-hub/random-verse" target="_blank">RandomVerse</a>
            </div>
        </div>
    </div>
</footer>
