i.icon
  display: inline-block
  font-family: FontAwesome
  font-style: normal
  text-align: center
  &:before
    transition: 0.2s ease-in

#icon-category
  &:before
    content: "\f07c"
#icon-tag
  &:before
    content: "\f02b"
#icon-archive
  &:before
    content: "\f187"
#icon-twitter
  &:before
    content: "\f099"
#icon-facebook
  &:before
    content: "\f09a"
#icon-google_plus
  &:before
    content: "\f0d5"
#icon-github
  &:before
    content: "\f09b"
#icon-weibo
  &:before
    content: "\f18a"
#icon-rss
  &:before
    content: "\f09e"
#icon-caret-right
  &:before
    content: "\f0da"
#icon-angle-up
  &:before
    content: "\f106"
#icon-angle-right
  &:before
    content: "\f105"
#icon-chevron-left
  &:before
    content: "\f053"
#icon-chevron-right
  &:before
    content: "\f054"
#icon-angle-double-right
  &:before
    content: "\f101"
#icon-calendar-o
  &:before
    content: "\f133"
