#footer
  background: color-footer-background
  margin-top: 60px
  color: color-grey
  line-height: line-height
  a
    color: #ccc
    text-decoration: none
    &:hover
      color: #fff
  .credit
    padding: 30px
  #back-to-top
    background: color-background
    color: #777
    overflow: hidden
    text-align: center
    width: 60px
    height: 30px
    display: block
    margin: 0 auto -30px
    border-radius: 0 0 3px 3px
    box-shadow: 0 1px 1px rgba(0,0,0,0.1)
    &:hover
      color: #444
    i
      font-size: 38px
  .logo
    width: logo-width * 0.8
    height: logo-height * 0.8
    background-size: logo-width * 0.8 logo-height * 0.8
